.details{
    text-align: center;
    padding-bottom: 20px;
}
.tit{
    width: 620px;
    height: 2px;
    margin: 50px auto;
    position: relative;
}
.tit span{
    font-size: 21px;
    display: block;
    width: 220px;
    height: 60px;
    position: absolute;
    border:solid 1px #fff;
    text-align: center;
    line-height: 60px;
    margin-top: -29px;
    left: 50%;
    margin-left: -110px;
}
.tit span:before,
.tit span:after {
    content: "";
    width: 225px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -200px;
}
.tit span:after {
    left: auto;
    right: -200px;
}
article{
    font-size: 18px;
    line-height: 1.2em;
}
