.commodity{
    width: 355px;
    height: 130px;
    border: solid 1px #8B8B8A;
    position: relative;
    margin: 40px auto;
    padding-left: 10px;
}
.commodity dt{
    position: absolute;
    left: -180px;
    top: 35px;
}
.commodity dd{
    width: 160px;
    height: 50px;
    float: right;
    text-align: center;
    line-height: 75px;
    font-size: 18px;
}
.commodity a{
    color: #818181;
}
.commodity dt a{
    display: block;
    width: 220px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: #91BA3F;
    color: #fff;
    font-size: 20px;
}


/*关于我们*/
.about{
    overflow: hidden;
    padding: 30px 0;
    background-image: url("../img/jj_index_bg_16.png");
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
}
.about_title{
    text-align: center;
}
.about_title h4{
    font-size: 28px;
}
.about_title p{
    font-family:"palscri";
    font-size: 50px;
    color: #91B93F;
}

.about article {
    width: 540px;
    text-align: center;
    margin: 0 auto;
    line-height: 1.5em;
}
.about .img {
    margin-top: 10px;
    width: 540px;
    height: 240px;
}
.dynamic{
    margin-top: 20px;
    padding: 10px 40px;
    box-sizing: border-box;
    background-color: #fff;
}
.dynamic h3{
    font-size: 20px;
    text-align: center;
}
.dynamic p{
	font-size:28px;
    font-family: palscri;
    line-height: 1em;
    text-align: center;
}
.dynamic ul li {
    width: 330px;
    display: inline-block;
    margin: 0 20px;
}
.dynamic ul li a {
    width: 100%;
    color: #333;
}
.dynamic ul li a .img {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center center;
}
.dynamic ul li a h6 {
    font-size: 18px;
    line-height: 2em;
}
.dynamic ul li a span {
    display: block;
    font-size: 14px;
    color: #818181;
}
.dynamic ul li a article {
    line-height: 1.5em;
}
/*人气产品*/
.product{
    position: relative;
    padding-bottom: 30px;
}
.product .bg{
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    height: 220px;
    background-color: #D5DCD6;
}
.pro_l{
    width: 314px;
    margin-left: 68px;
    margin-top: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.pro_l p{
    font-size: 20px;
    color: #91B93F;
    line-height: 1.5em;
}
.pro_l .imgView {
    width: 100%;
    height: 360px;
    border: solid 10px #fff;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 20px;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    position: relative;
}

.imgView:hover .lay{
    transform: translateY(0);
}
.imgView .lay{
    width: 100%;
    background-color: rgba(0,0,0,.4);
    position: absolute;
    bottom: 0;
    padding: 0 19px;
    box-sizing: border-box;
    transition: transform 1s;
    transform: translateY(209px);
}
.imgView .lay h3{
    font-size: 14px;
    color: #fff;
    line-height: 4em;
}
.imgView .lay p{
    color: #fff;
    font-size: 14px;
    text-align: left;
    line-height: 1.5em;
}
.imgView .lay a{
    color: #91B93F;
    float: right;
    line-height: 2em;
}

.pro_r .mor{
    width: 590px;
    margin: 60px 0 0 95px;
    color: #49301D;
    background: url("../img/bg1.gif") no-repeat right bottom;
}
.pro_r .mor h2{
    font-size: 28px;
    margin-bottom: 30px;
}
.pro_r .mor p{
    width: 323px;
    font-size: 12px;
    line-height: 1.5em;
}
.pro_r .mor a{
    display: block;
    width: 128px;
    height: 27px;
    line-height: 23px;
    border: solid 1px #49301D;
    margin-top: 20px;
    padding-left: 22px;
    box-sizing: border-box;
    color: #49301D;
}
.pro_r .mor a:hover i{
    transform: translateX(10px);
}
.pro_r .mor a i{
    transition: transform .6s;
    margin-left: 14px;
    font-size: 20px;
    font-style: normal;
    display: inline-block;
    margin-top: 1px;
}
.cc{
    overflow: hidden;
    clear: both;
    margin-top: 290px;
}
.cc li{
    width: 255px;
    float: left;
    margin-left: 17px;
}
.cc li .img{
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
}
.cc li p{
    font-size: 20px;
    color: #91B93F;
    text-align: center;
    line-height: 1.5em;
}
.workshop{
    overflow: hidden;
    padding-bottom: 44px;
    background-color: #fff;
}

.workshop_l{
    width: 700px;
    overflow: hidden;
    border: solid 1px #c9c9c9;
}
.workshop_l article{
    padding: 20px;
}
.workshop_l h4{
    line-height: 3em;
    text-align: center;
}
.work_l_t{
    height:335px;
    display: flex;
    justify-content: flex-start;
}
.work_l_t .img{
    width: 472px;
    height: inherit;
    flex-shrink: 0;
}

.work_l_b {
    height: 243px;
    display: flex;
    justify-content: flex-start;
}
.work_l_b .img{
    width: 230px;
    height: inherit;
    flex-shrink: 0;
}



.work_r .process{
    margin: 0 auto;
    margin-top: 113px;
    width: 166px;
    text-align: center;
    line-height: 1.4em;
}
.machine{
    width: 230px;
    height: 374px;
    margin-top: 168px;
    position: relative;
}
.machine img{
    width: 100%;
    height: 100%;
}
.machine .lay{
    position: absolute;
    bottom: 0;
    height: 260px;
    width: 100%;
}
.machine .lay p{
    position: absolute;
    bottom: 0;
}
.workshop_r{
    width: 480px;
    height: 580px;
    background: url("../img/a.gif") no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.workBox{
    width: 360px;
    height:500px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 0 10px #999;
    text-align: center;
}
.workBox h2{
    font-size: 40px;
    color: #91B93F;
    margin-top: 58px;
    margin-bottom: 23px;
}
.workBox p a{
    font-size: 20px;
    color: #8D8D8D;
}
.workBox ul{
    padding: 0 27px;
    margin-top: 50px;
}
.workBox ul li a{
    display: block;
    border-bottom: dashed 1px #818181;
    font-size: 16px;
    color: #818181;
    margin-top: 10px;
    line-height: 2.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    padding-right: 20px;
}
.workBox ul li a:hover{
    color: #91B93F;
}