@charset "UTF-8";
html,
body,
div,
img,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
ul,
li,
dl,
dt,
dd,
i {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  line-height: 1em;
  border: 0; }

html, body {
  /*overflow: hidden;*/
  color: #999; }

ul, li {
  list-style: none; }

a {
  text-decoration: none;
  color: #fff; }

.wrapper {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  display: block;
  content: 'clear';
  clear: both;
  height: 100%;
  line-height: 0;
  width: 0;
  visibility: hidden; }

.bfc {
  overflow: hidden; }

body {
  background: url("../img/bodyBg.gif") repeat;
  line-height: 1.5em; }

@font-face {
  font-family: palscri;
  src: url("../font/PALSCRI.TTF"), url("../font/PALSCRI.TTF");
  /* IE9+ */ }
.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100%; }

.nav {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1024; }
  .nav-menu {
    width: 36px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none; }
    .nav-menu span {
      width: 100%;
      height: 4px;
      background-color: #000; }
  .nav > ul {
    width: 100%;
    background-color: #6e6e6e; }
    .nav > ul > li {
      float: left;
      width: 160px;
      text-align: center;
      line-height: 50px;
      height: 50px;
      color: #fff;
      font-size: 18px;
      cursor: pointer;
      margin: 0 40px; }
      .nav > ul > li:hover {
        background-color: #515150; }
        .nav > ul > li:hover .slide {
          height: auto;
          position: relative;
          z-index: 1024; }
      .nav > ul > li .slide {
        height: 0;
        transition: height 2s;
        overflow: hidden;
        background-color: #fff; }
        .nav > ul > li .slide li a {
          display: block;
          line-height: 35px;
          height: 35px;
          color: #91BA3F; }
          .nav > ul > li .slide li a:hover {
            background-color: #91BA3F;
            color: #fff; }

.Atitle {
  height: 54px;
  margin-top: 16px;
  padding-left: 7px;
  margin-bottom: 13px;
  background: url("../img/sj.gif") no-repeat top right;
  line-height: 1em;
  display: inline-block;
  padding-right: 17px; }

.Atitle span {
  display: block;
  font-size: 22px;
  color: #90B93F;
  margin-top: 10px; }

.title {
  text-align: center;
  padding-top: 40px;
  box-sizing: border-box; }

.title h3 {
  font-size: 24px;
  line-height: 1.5em; }

.title p {
  font-size: 38px;
  color: #91B93F;
  font-family: palscri; }

/*鏇存敼   闃村奖鏁堟灉  */
.box-shadow {
  -webkit-box-shadow: 0 3px 10px rgba(110, 110, 110, 0.8);
  -moz-box-shadow: 0 3px 10px rgba(110, 110, 110, 0.8);
  box-shadow: 0 3px 10px rgba(110, 110, 110, 0.8); }

/*澹版槑*/
.statement {
  text-align: center;
  margin-top: 30px;
  color: #818181; }

.statement h4 {
  font-size: 20px; }

/*鏇存敼  */
.statement p {
  font-size: 30px;
  font-family: "palscri";
  line-height: 1.5em; }

.sli {
  display: none;
  width: 100px;
  height: 425px;
  position: fixed;
  z-index: 1024000;
  right: 0;
  bottom: 0;
  background-color: #C7C7C7;
  padding-top: 87px;
  box-sizing: border-box; }

.sli h2 {
  font-size: 16px;
  line-height: 2em;
  color: #555555;
  text-indent: .8em; }

.sli img {
  width: 100px;
  height: 100px; }

.sli a img {
  width: 100px;
  height: 35px;
  margin-top: 18px; }

.img {
  display: inline-block;
  background-size: cover;
  background-position: center center; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("../img/icon/arrowLeft.png"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("../img/icon/arrowRight.png"); }

.top {
  position: relative;
  padding: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .top-logo-icon {
    width: 45px;
    height: 45px;
    margin-right: 10px;
    float: left; }
  .top-logo-title {
    overflow: hidden;
    color: #91BA3F; }
    .top-logo-title h6 {
      font-family: "STXingKai";
      font-size: 22px; }
    .top-logo-title p {
      white-space: nowrap;
      font-family: "palscri";
      font-size: 30px; }
  .top-language {
    width: 60px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    display: none; }
    .top-language span {
      width: 50%;
      height: 30px;
      background-color: #C4C4C4;
      text-align: center;
      line-height: 30px;
      color: #fff;
      font-size: 14px; }
      .top-language span.active {
        background: #9FC15F; }
  .top-phone {
    flex-grow: 1;
    height: 52px;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    .top-phone-icon {
      margin-right: 10px;
      width: 26px;
      height: 26px; }
    .top-phone-number {
      color: #91BA3F;
      white-space: nowrap;
      font-size: 26px; }

/*banner*/
.banner {
  width: 100%;
  height: 350px;
  position: relative; }

.banner .swiper-container {
  width: inherit;
  height: inherit; }

.banner img {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%); }

.swiper-slide {
  position: relative; }

.slide-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.sliderBor {
  width: 700px;
  height: 180px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  outline: solid 1px #000;
  outline-offset: 5px;
  padding: 0 30px;
  box-sizing: border-box;
  transition: all .5s;
  overflow: hidden;
  transform-origin: 50% 50%;
  transform: scale(0); }

.sliderBor.show {
  animation: slideOne .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; }

.sliderBor p {
  font-size: 60px;
  color: #fff;
  font-weight: 500;
  text-align: center; }

.sliderBor span {
  display: block;
  text-align: right;
  font-size: 36px;
  color: #fff;
  font-family: palscri; }

.sle {
  color: #fff; }

.sle .slide-title {
  font-size: 24px;
  display: none;
  line-height: 1.5em; }

.sle .silde-main {
  font-size: 60px;
  font-weight: bold;
  color: #90B93F;
  display: none;
  line-height: 1.5em; }

.sle .silde-main span {
  display: block;
  font-size: 18px;
  color: #fff;
  border-top: solid 1px #90B93F;
  line-height: 1.5em; }

.slideTitleShow {
  animation: slideTitle .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  display: block !important; }

.slideMainShow {
  animation: slideMain .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  display: block !important; }

@keyframes slideOne {
  0% {
    transform: scale(0); }
  25% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  75% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes slideTitle {
  0% {
    transform: scale(1.5) translateY(-300px); }
  25% {
    transform: scale(1.4) translateY(-230px); }
  50% {
    transform: scale(1.3) translateY(-160px); }
  75% {
    transform: scale(1.2) translateY(-70px); }
  100% {
    transform: scale(1) translateY(0); } }
@keyframes slideMain {
  0% {
    transform: scale(1.5) translateY(300px); }
  25% {
    transform: scale(1.4) translateY(230px); }
  50% {
    transform: scale(1.3) translateY(160px); }
  75% {
    transform: scale(1.2) translateY(70px); }
  100% {
    transform: scale(1) translateY(0); } }
/*footer*/
.footer {
  background: url("../img/footerBG.gif") repeat;
  padding-top: 35px; }

.footer .map {
  line-height: 36px;
  border-bottom: solid 1px #91B93F; }

.map a {
  display: inline-block;
  font-size: 20px;
  margin-right: 120px; }

.con {
  overflow: hidden;
  margin-top: 10px; }

.footer_l p {
  line-height: 1.5em;
  color: #fff; }

.footer_r {
  color: #fff;
  margin-right: 123px;
  padding-bottom: 15px; }

.footer_r img {
  float: left;
  margin-right: 5px;
  border-radius: 100%; }

.ff {
  overflow: hidden;
  padding: 2px; }

.ff p {
  font-size: 32px; }

.bottom {
  line-height: 43px;
  height: 43px;
  text-align: center;
  font-size: 18px; }

/*# sourceMappingURL=styles.css.map */
